# Joining Data with pandas Part 3 - 4

## Course Description

Being able to combine and work with multiple datasets is an essential skill for any aspiring Data Scientist. Pandas is a crucial cornerstone of the Python data science ecosystem, with Stack Overflow recording 5 million views for pandas questions. Learn to handle multiple DataFrames by combining, organizing, joining, and reshaping them using pandas. You'll work with datasets from the World Bank and the City Of Chicago. You will finish the course with a solid skillset for data-joining in pandas.

## Advance Merging and Concantenating

## Steps of a semi-join
In the last video, you were shown how to perform a semi-join with pandas. In this exercise, you'll solidify your understanding of the necessary steps. Recall that a semi-join filters the left table to only the rows where a match exists in both the left and right tables.

<b><u> Answer:<u/></b> <br />
    1. Merge the left and right tables on key column using an inner-join. <br />
    2. Search if the key column in the left table is in the merged tables using the <code>.isin()</code> method creating a Boolean <code>Series</code>. <br />
    3. Subset the rows of the left table.

### Performing an anti-join
In our music streaming company dataset, each customer is assigned an employee representative to assist them. In this exercise, filter the employee table by a table of top customers, returning only those employees who are not assigned to a customer. The results should resemble the results of an anti-join. The company's leadership will assign these employees additional training so that they can work with high valued customers.

<b>Instructions:</b>
- Merge employees and top_cust with a left join, setting indicator argument to True. Save the result to empl_cust.

In [ ]:
# Can't find employees and top_cust datasets

# Merge employees and top_cust
empl_cust = employees.merge(top_cust, on='srid', 
                            how='left', indicator=True)

# Select the srid column where _merge is left_only
srid_list = empl_cust.loc[empl_cust['_merge'] == 'left_only', 'srid']

# Get employees not working with top customers
print(employees[employees['srid'].isin(srid_list)])

### Performing a semi-join
Some of the tracks that have generated the most significant amount of revenue are from TV-shows or are other non-musical audio. You have been given a table of invoices that include top revenue-generating items. Additionally, you have a table of non-musical tracks from the streaming service. In this exercise, you'll use a semi-join to find the top revenue-generating non-musical tracks.

<b>Instructions:</b>
- Merge non_mus_tcks and top_invoices on tid using an inner join. Save the result as tracks_invoices.
- Use .isin() to subset the rows of non_mus_tck where tid is in the tid column of tracks_invoices. Save the result as top_tracks.
- Group top_tracks by gid and count the tid rows. Save the result to cnt_by_gid.
- Merge cnt_by_gid with the genres table on gid and print the result.

In [ ]:
# Can't find the datasets

# Merge the non_mus_tck and top_invoices tables on tid
tracks_invoices = non_mus_tcks.merge(top_invoices, on="tid")

# Use .isin() to subset non_mus_tcks to rows with tid in tracks_invoices
top_tracks = non_mus_tcks[non_mus_tcks['tid'].isin(tracks_invoices['tid'])]

# Group the top_tracks by gid and count the tid rows
cnt_by_gid = top_tracks.groupby(['gid'], as_index=False).agg({'tid':"count"})

# Merge the genres table to cnt_by_gid on gid and print
print(cnt_by_gid.merge(genres, on="gid"))

### Concatenation basics
You have been given a few tables of data with musical track info for different albums from the metal band, Metallica. The track info comes from their Ride The Lightning, Master Of Puppets, and St. Anger albums. Try various features of the .concat() method by concatenating the tables vertically together in different ways.

<b>Instructions:</b>
- Concatenate tracks_master, tracks_ride, and tracks_st, in that order, setting sort to True.
- Concatenate tracks_master, tracks_ride, and tracks_st, where the index goes from 0 to n-1.
- Concatenate tracks_master, tracks_ride, and tracks_st, showing only columns that are in all tables.

In [ ]:
# No datasets

# Concatenate tracks_master, tracks_ride, and tracks_st, in that order, setting sort to True.

# Concatenate the tracks
tracks_from_albums = pd.concat([tracks_master,tracks_ride,tracks_st],
                               sort=True)
print(tracks_from_albums)

In [ ]:
# No datasets

# Concatenate tracks_master, tracks_ride, and tracks_st, where the index goes from 0 to n-1.

# Concatenate the tracks so the index goes from 0 to n-1
tracks_from_albums = pd.concat([tracks_master,tracks_ride,tracks_st],
                               ignore_index=True,
                               sort=True)
print(tracks_from_albums)

In [ ]:
# No datasets

# Concatenate tracks_master, tracks_ride, and tracks_st, showing only columns that are in all tables.


# Concatenate the tracks, show only columns names that are in all tables
tracks_from_albums = pd.concat([tracks_master,tracks_ride,tracks_st],
                               join="inner",
                               sort=True)
print(tracks_from_albums)

### Concatenating with keys
The leadership of the music streaming company has come to you and asked you for assistance in analyzing sales for a recent business quarter. They would like to know which month in the quarter saw the highest average invoice total. You have been given three tables with invoice data named inv_jul, inv_aug, and inv_sep. Concatenate these tables into one to create a graph of the average monthly invoice total.

<b>Instructions:</b>
- Concatenate the three tables together vertically in order with the oldest month first, adding '7Jul', '8Aug', and '9Sep' as keys for their respective months, and save to variable avg_inv_by_month.
- Use the .agg() method to find the average of the total column from the grouped invoices.
- Create a bar chart of avg_inv_by_month.

In [ ]:
# No datasets

# Concatenate the tables and add keys
inv_jul_thr_sep = pd.concat([inv_jul,inv_aug,inv_sep], 
                            keys=["7Jul", "8Aug", "9Sep"])

# Group the invoices by the index keys and find avg of the total column
avg_inv_by_month = inv_jul_thr_sep.groupby(level=0).agg({'total':'mean'})

# Bar plot of avg_inv_by_month
avg_inv_by_month.plot(kind='bar')
plt.show()

### Using the append method
The .concat() method is excellent when you need a lot of control over how concatenation is performed. However, if you do not need as much control, then the .append() method is another option. You'll try this method out by appending the track lists together from different Metallica albums. From there, you will merge it with the invoice_items table to determine which track sold the most.

<b>Instructions:</b>
- Use the .append() method to combine (in this order)tracks_ride, tracks_master, and tracks_st together vertically, and save to metallica_tracks.
- Merge metallica_tracks and invoice_items on tid with an inner join, and save to tracks_invoices.
- For each tid and name in tracks_invoices, sum the quantity sold column, and save as tracks_sold.
- Sort tracks_sold in descending order by the quantity column, and print the table.

In [ ]:
# No datasets

# Use the .append() method to combine the tracks tables
metallica_tracks = tracks_ride.append([tracks_master, tracks_st], sort=False)

# Merge metallica_tracks and invoice_items
tracks_invoices = metallica_tracks.merge(invoice_items, on="tid")

# For each tid and name sum the quantity sold
tracks_sold = tracks_invoices.groupby(['tid','name']).agg({"quantity":"sum"})

# Sort in decending order by quantity and print the results
print(tracks_sold.sort_values(['quantity'],ascending=False))

### Concatenate and merge to find common songs
The senior leadership of the streaming service is requesting your help again. You are given the historical files for a popular playlist in the classical music genre in 2018 and 2019. Additionally, you are given a similar set of files for the most popular pop music genre playlist on the streaming service in 2018 and 2019. Your goal is to concatenate the respective files to make a large classical playlist table and overall popular music table. Then filter the classical music table using a semi-join to return only the most popular classical music tracks.

<b>Instructions:</b>
- Concatenate the classic_18 and classic_19 tables vertically where the index goes from 0 to n-1, and save to classic_18_19.
- Concatenate the pop_18 and pop_19 tables vertically where the index goes from 0 to n-1, and save to pop_18_19.
- With classic_18_19 on the left, merge it with pop_18_19 on tid using an inner join.
- Use .isin() to filter classic_18_19 where tid is in classic_pop.

In [ ]:
# No datasets

# Concatenate the classic tables vertically
classic_18_19 = pd.concat([classic_18, classic_19], ignore_index=True)

# Concatenate the pop tables vertically
pop_18_19 = pd.concat([pop_18, pop_19], ignore_index=True)

# Merge classic_18_19 with pop_18_19
classic_pop = classic_18_19.merge(pop_18_19, on="tid", how="inner")

# Using .isin(), filter classic_18_19 rows where tid is in classic_pop
popular_classic = classic_18_19[classic_18_19["tid"].isin(classic_pop['tid'])]

# Print popular chart
print(popular_classic)

## Merging Ordered and Time-Series Data

## Correlation between GDP and S&P500
In this exercise, you want to analyze stock returns from the S&P 500. You believe there may be a relationship between the returns of the S&P 500 and the GDP of the US. Merge the different datasets together to compute the correlation.

In [2]:
import pandas as pd
sp500 = pd.read_csv("datasets/S&P500.csv")
sp500.head()

   Date  Returns
0  2008   -38.49
1  2009    23.45
2  2010    12.78
3  2011     0.00
4  2012    13.41

In [3]:
gdp = pd.read_csv("datasets/WorldBank_GDP.csv")
gdp.head()

    Country Name Country Code     Indicator Name  Year           GDP
0          China          CHN  GDP (current US$)  2010  6.087160e+12
1        Germany          DEU  GDP (current US$)  2010  3.417090e+12
2          Japan          JPN  GDP (current US$)  2010  5.700100e+12
3  United States          USA  GDP (current US$)  2010  1.499210e+13
4          China          CHN  GDP (current US$)  2011  7.551500e+12

<b>Instructions:</b>
- Use merge_ordered() to merge gdp and sp500 using a left join on year and date. Save the results as gdp_sp500.
- Print gdp_sp500 and look at the returns for the year 2018.

In [5]:
# Use merge_ordered() to merge gdp and sp500 on year and date
gdp_sp500 = pd.merge_ordered(gdp, sp500, left_on="Year", right_on="Date", 
                             how="left")

# Print gdp_sp500
print(gdp_sp500)

     Country Name Country Code     Indicator Name  Year           GDP    Date  \
0           China          CHN  GDP (current US$)  2010  6.087160e+12  2010.0
1         Germany          DEU  GDP (current US$)  2010  3.417090e+12  2010.0
2           Japan          JPN  GDP (current US$)  2010  5.700100e+12  2010.0
3   United States          USA  GDP (current US$)  2010  1.499210e+13  2010.0
4           China          CHN  GDP (current US$)  2011  7.551500e+12  2011.0
5         Germany          DEU  GDP (current US$)  2011  3.757700e+12  2011.0
6           Japan          JPN  GDP (current US$)  2011  6.157460e+12  2011.0
7   United States          USA  GDP (current US$)  2011  1.554260e+13  2011.0
8           China          CHN  GDP (current US$)  2012  8.532230e+12  2012.0
9         Germany          DEU  GDP (current US$)  2012  3.543980e+12  2012.0
10          Japan          JPN  GDP (current US$)  2012  6.203210e+12  2012.0
11  United States          USA  GDP (current US$)  2012  1.619700e+13  2012.0
12          China          CHN  GDP (current US$)  2012  8.532230e+12  2012.0
13        Germany          DEU  GDP (current US$)  2012  3.543980e+12  2012.0
14          Japan          JPN  GDP (current US$)  2012  6.203210e+12  2012.0
15  United States          USA  GDP (current US$)  2012  1.619700e+13  2012.0
16          China          CHN  GDP (current US$)  2013  9.570410e+12  2013.0
17        Germany          DEU  GDP (current US$)  2013  3.752510e+12  2013.0
18          Japan          JPN  GDP (current US$)  2013  5.155720e+12  2013.0
19  United States          USA  GDP (current US$)  2013  1.678480e+13  2013.0
20          China          CHN  GDP (current US$)  2014  1.043850e+13  2014.0
21        Germany          DEU  GDP (current US$)  2014  3.898730e+12  2014.0
22          Japan          JPN  GDP (current US$)  2014  4.850410e+12  2014.0
23  United States          USA  GDP (current US$)  2014  1.752170e+13  2014.0
24          China          CHN  GDP (current US$)  2015  1.101550e+13  2015.0
25        Germany          DEU  GDP (current US$)  2015  3.381390e+12  2015.0
26          Japan          JPN  GDP (current US$)  2015  4.389480e+12  2015.0
27  United States          USA  GDP (current US$)  2015  1.821930e+13  2015.0
28          China          CHN  GDP (current US$)  2016  1.113790e+13  2016.0
29        Germany          DEU  GDP (current US$)  2016  3.495160e+12  2016.0
30          Japan          JPN  GDP (current US$)  2016  4.926670e+12  2016.0
31  United States          USA  GDP (current US$)  2016  1.870720e+13  2016.0
32          China          CHN  GDP (current US$)  2017  1.214350e+13  2017.0
33        Germany          DEU  GDP (current US$)  2017  3.693200e+12  2017.0
34          Japan          JPN  GDP (current US$)  2017  4.859950e+12  2017.0
35  United States          USA  GDP (current US$)  2017  1.948540e+13  2017.0
36          China          CHN  GDP (current US$)  2018  1.360820e+13     NaN
37        Germany          DEU  GDP (current US$)  2018  3.996760e+12     NaN
38          Japan          JPN  GDP (current US$)  2018  4.970920e+12     NaN
39  United States          USA  GDP (current US$)  2018  2.049410e+13     NaN

    Returns
0     12.78
1     12.78
2     12.78
3     12.78
4      0.00
5      0.00
6      0.00
7      0.00
8     13.41
9     13.41
10    13.41
11    13.41
12    13.41
13    13.41
14    13.41
15    13.41
16    29.60
17    29.60
18    29.60
19    29.60
20    11.39
21    11.39
22    11.39
23    11.39
24    -0.73
25    -0.73
26    -0.73
27    -0.73
28     9.54
29     9.54
30     9.54
31     9.54
32    19.42
33    19.42
34    19.42
35    19.42
36      NaN
37      NaN
38      NaN
39      NaN

<b>Instructions:</b>
- Use merge_ordered(), again similar to before, to merge gdp and sp500 use the function's ability to interpolate missing data to forward fill the missing value for returns, assigning this table to the variable gdp_sp500.

In [6]:
# Use merge_ordered() to merge gdp and sp500, interpolate missing value
gdp_sp500 = pd.merge_ordered(gdp, sp500, left_on="Year", right_on="Date", how="left", fill_method='ffill')


# Print gdp_sp500
print (gdp_sp500)

     Country Name Country Code     Indicator Name  Year           GDP  Date  \
0           China          CHN  GDP (current US$)  2010  6.087160e+12  2010
1         Germany          DEU  GDP (current US$)  2010  3.417090e+12  2010
2           Japan          JPN  GDP (current US$)  2010  5.700100e+12  2010
3   United States          USA  GDP (current US$)  2010  1.499210e+13  2010
4           China          CHN  GDP (current US$)  2011  7.551500e+12  2011
5         Germany          DEU  GDP (current US$)  2011  3.757700e+12  2011
6           Japan          JPN  GDP (current US$)  2011  6.157460e+12  2011
7   United States          USA  GDP (current US$)  2011  1.554260e+13  2011
8           China          CHN  GDP (current US$)  2012  8.532230e+12  2012
9         Germany          DEU  GDP (current US$)  2012  3.543980e+12  2012
10          Japan          JPN  GDP (current US$)  2012  6.203210e+12  2012
11  United States          USA  GDP (current US$)  2012  1.619700e+13  2012
12          China          CHN  GDP (current US$)  2012  8.532230e+12  2012
13        Germany          DEU  GDP (current US$)  2012  3.543980e+12  2012
14          Japan          JPN  GDP (current US$)  2012  6.203210e+12  2012
15  United States          USA  GDP (current US$)  2012  1.619700e+13  2012
16          China          CHN  GDP (current US$)  2013  9.570410e+12  2013
17        Germany          DEU  GDP (current US$)  2013  3.752510e+12  2013
18          Japan          JPN  GDP (current US$)  2013  5.155720e+12  2013
19  United States          USA  GDP (current US$)  2013  1.678480e+13  2013
20          China          CHN  GDP (current US$)  2014  1.043850e+13  2014
21        Germany          DEU  GDP (current US$)  2014  3.898730e+12  2014
22          Japan          JPN  GDP (current US$)  2014  4.850410e+12  2014
23  United States          USA  GDP (current US$)  2014  1.752170e+13  2014
24          China          CHN  GDP (current US$)  2015  1.101550e+13  2015
25        Germany          DEU  GDP (current US$)  2015  3.381390e+12  2015
26          Japan          JPN  GDP (current US$)  2015  4.389480e+12  2015
27  United States          USA  GDP (current US$)  2015  1.821930e+13  2015
28          China          CHN  GDP (current US$)  2016  1.113790e+13  2016
29        Germany          DEU  GDP (current US$)  2016  3.495160e+12  2016
30          Japan          JPN  GDP (current US$)  2016  4.926670e+12  2016
31  United States          USA  GDP (current US$)  2016  1.870720e+13  2016
32          China          CHN  GDP (current US$)  2017  1.214350e+13  2017
33        Germany          DEU  GDP (current US$)  2017  3.693200e+12  2017
34          Japan          JPN  GDP (current US$)  2017  4.859950e+12  2017
35  United States          USA  GDP (current US$)  2017  1.948540e+13  2017
36          China          CHN  GDP (current US$)  2018  1.360820e+13  2017
37        Germany          DEU  GDP (current US$)  2018  3.996760e+12  2017
38          Japan          JPN  GDP (current US$)  2018  4.970920e+12  2017
39  United States          USA  GDP (current US$)  2018  2.049410e+13  2017

    Returns
0     12.78
1     12.78
2     12.78
3     12.78
4      0.00
5      0.00
6      0.00
7      0.00
8     13.41
9     13.41
10    13.41
11    13.41
12    13.41
13    13.41
14    13.41
15    13.41
16    29.60
17    29.60
18    29.60
19    29.60
20    11.39
21    11.39
22    11.39
23    11.39
24    -0.73
25    -0.73
26    -0.73
27    -0.73
28     9.54
29     9.54
30     9.54
31     9.54
32    19.42
33    19.42
34    19.42
35    19.42
36    19.42
37    19.42
38    19.42
39    19.42

<b>Instructions:</b>
- Subset the gdp_sp500 table, select the gdp and returns columns, and save as gdp_returns.
- Print the correlation matrix of the gdp_returns table.

In [9]:
# Use merge_ordered() to merge gdp and sp500, interpolate missing value
gdp_sp500 = pd.merge_ordered(gdp, sp500, left_on='Year', right_on='Date', 
                             how='left',  fill_method='ffill')

# Subset the gdp and returns columns
gdp_returns = gdp_sp500[['GDP','Returns']]

# Print gdp_returns correlation
print(gdp_returns.corr())

              GDP   Returns
GDP      1.000000  0.040669
Returns  0.040669  1.000000

### Phillips curve using merge_ordered()
There is an economic theory developed by A. W. Phillips which states that inflation and unemployment have an inverse relationship. The theory claims that with economic growth comes inflation, which in turn should lead to more jobs and less unemployment.

You will take two tables of data from the U.S. Bureau of Labor Statistics, containing unemployment and inflation data over different periods, and create a Phillips curve. The tables have different frequencies. One table has a data entry every six months, while the other has a data entry every month. You will need to use the entries where you have data within both tables.

<b>Instructions:</b>
- Use merge_ordered() to merge the inflation and unemployment tables on date with an inner join, and save the results as inflation_unemploy.
- Print the inflation_unemploy variable.
- Using inflation_unemploy, create a scatter plot with unemployment_rate on the horizontal axis and cpi (inflation) on the vertical axis.

In [ ]:
# Can't find the datasets :< Really wanted to this though

# Use merge_ordered() to merge inflation, unemployment with inner join
inflation_unemploy = pd.merge_ordered(inflation,unemployment, on="date", how="inner")

# Print inflation_unemploy 
print(inflation_unemploy)

# Plot a scatter plot of unemployment_rate vs cpi of inflation_unemploy
inflation_unemploy.plot(kind="scatter", x="unemployment_rate", y="cpi")
plt.show()

### merge_ordered() caution, multiple columns
When using merge_ordered() to merge on multiple columns, the order is important when you combine it with the forward fill feature. The function sorts the merge on columns in the order provided. In this exercise, we will merge GDP and population data from the World Bank for the Australia and Sweden, reversing the order of the merge on columns. The frequency of the series are different, the GDP values are quarterly, and the population is yearly. Use the forward fill feature to fill in the missing data. Depending on the order provided, the fill forward will use unintended data to fill in the missing values.

In [12]:
pop = pd.read_csv("datasets/WorldBank_POP.csv")
pop.head()

  Country Name Country Code     Indicator Name  Year         Pop
0        Aruba          ABW  Population, total  2010    101669.0
1  Afghanistan          AFG  Population, total  2010  29185507.0
2       Angola          AGO  Population, total  2010  23356246.0
3      Albania          ALB  Population, total  2010   2913021.0
4      Andorra          AND  Population, total  2010     84449.0

<b>Instructions:</b>
- Use merge_ordered() on gdp and pop, merging on columns date and country with the fill feature, save to ctry_date.

In [ ]:
# Lacking data in given datasets sadt :<. No date column in pop

# Merge gdp and pop on date and country with fill and notice rows 2 and 3
ctry_date = pd.merge_ordered(gdp,pop, on=["date","country"], 
                             fill_method='ffill')

# Print ctry_date
print(ctry_date)

<b>Instructions:</b>
- Perform the same merge of gdp and pop, but join on country and date (reverse of step 1) with the fill feature, saving this as date_ctry.

In [ ]:
# No data column in pop

# Merge gdp and pop on country and date with fill
date_ctry = pd.merge_ordered(gdp, pop, on=["country","date"], fill_method="ffill")

# Print date_ctry
print(date_ctry)

### Using merge_asof() to study stocks
You have a feed of stock market prices that you record. You attempt to track the price every five minutes. Still, due to some network latency, the prices you record are roughly every 5 minutes. You pull your price logs for three banks, JP Morgan (JPM), Wells Fargo (WFC), and Bank Of America (BAC). You want to know how the price change of the two other banks compare to JP Morgan. Therefore, you will need to merge these three logs into one table. Afterward, you will use the pandas .diff() method to compute the price change over time. Finally, plot the price changes so you can review your analysis.

<b>Instructions:</b>
- Use merge_asof() to merge jpm (left table) and wells together on the date_time column, where the rows with the nearest times are matched, and with suffixes=('', '_wells'). Save to jpm_wells.
- Use merge_asof() to merge jpm_wells (left table) and bac together on the date_time column, where the rows with the closest times are matched, and with suffixes=('_jpm', '_bac'). Save to jpm_wells_bac.
- Using price_diffs, create a line plot of the close price of JPM, WFC, and BAC only.

In [ ]:
# No datasets

# Use merge_asof() to merge jpm and wells
jpm_wells = pd.merge_asof(jpm,wells, on="date_time", suffixes=('', '_wells'), direction='nearest')


# Use merge_asof() to merge jpm_wells and bac
jpm_wells_bac = pd.merge_asof(jpm_wells, bac, on="date_time",suffixes=('_jpm', '_bac'), direction='nearest')


# Compute price diff
price_diffs = jpm_wells_bac.diff()

# Plot the price diff of the close of jpm, wells and bac only
price_diffs.plot(y=['close_jpm','close_wells','close_bac'])
plt.show()

### Using merge_asof() to create dataset
The merge_asof() function can be used to create datasets where you have a table of start and stop dates, and you want to use them to create a flag in another table. You have been given gdp, which is a table of quarterly GDP values of the US during the 1980s. Additionally, the table recession has been given to you. It holds the starting date of every US recession since 1980, and the date when the recession was declared to be over. Use merge_asof() to merge the tables and create a status flag if a quarter was during a recession. Finally, to check your work, plot the data in a bar chart.

<b>Instructions:</b>
- Using merge_asof(), merge gdp and recession on date, with gdp as the left table. Save to the variable gdp_recession.
- Create a list using a list comprehension and a conditional expression, named is_recession, where for each row if the gdp_recession['econ_status'] value is equal to 'recession' then enter 'r' else 'g'.
- Using gdp_recession, plot a bar chart of gdp versus date, setting the color argument equal to is_recession.

In [ ]:
# No datasets

# Merge gdp and recession on date using merge_asof()
gdp_recession = pd.merge_asof(gdp, recession, on='date')

# Create a list based on the row value of gdp_recession['econ_status']
is_recession = ['r' if s=='recession' else 'g' for s in gdp_recession['econ_status']]

# Plot a bar chart of gdp_recession
gdp_recession.plot(kind="bar", y="gdp", x="date", color=is_recession, rot=90)
plt.show()

### merge_asof() and merge_ordered() differences
The merge_asof() and merge_ordered() functions are similar in the type of merge they perform and the input arguments they use. In this exercise, think about how the functions are different.

<b>Instructions:</b>
- Drag and drop the statement into the appropriate box for either the merge_asof() function, the merge_ordered() function, or both if it applies to both functions.

1. merge_asof()
- Has an argument that can be set to 'forward' to select th first row in the right table whose key column is greater than or equal to the left's
- it can be used to do fuzzy matching of dates between tables
- after matching two tables, if there are missing values at the top of the table from the right table, this function can fill them in

2. .merge_ordered
- it allows for a right join during the merge
- if it cannot match the rows of the tables exactly, it can use forward fill to interpolate the missing data

3. both
- this function can set the suffix for overlapping column names
- this function can be used when working with ordered or time-series data

### Explore financials with .query()
You have been given a table of financial data from some popular social network companies called social_fin. All of the values are in thousands of US dollars.

Use the .query() method and the console to explore social_fin and select the True statement.

Possible Answers

- There 2 rows where the value is greater than $50,000,000K.

- There are 3 rows for total revenue for Facebook.

- There are 6 rows where the net income has a negative value.

- There are 45 rows, where the gross profit is greater than $100K.


<b>Answer:</b>There are 6 rows where the net income has a negative value.

### Subsetting rows with .query()
In this exercise, you will revisit GDP and population data for Australia and Sweden from the World Bank and expand on it using the .query() method. You'll merge the two tables and compute the GDP per capita. Afterwards, you'll use the .query() method to sub-select the rows and create a plot. Recall that you will need to merge on multiple columns in the proper order.

<b>Instructions:</b>
- Use merge_ordered() on gdp and pop on columns country and date with the fill feature, save to gdp_pop and print.
- Add a column named gdp_per_capita to gdp_pop that divides gdp by pop.
- Pivot gdp_pop so values='gdp_per_capita', index='date', and columns='country', save as gdp_pivot.
- Use .query() to select rows from gdp_pivot where date is greater than equal to 1991-01-01". Save as recent_gdp_pop.

In [ ]:
# No datasets 

# Merge gdp and pop on date and country with fill
gdp_pop = pd.merge_ordered(gdp, pop, on=['country','date'], fill_method='ffill')

# Add a column named gdp_per_capita to gdp_pop that divides the gdp by pop
gdp_pop['gdp_per_capita'] = gdp_pop['gdp'] / gdp_pop['pop']

# Pivot data so gdp_per_capita, where index is date and columns is country
gdp_pivot = gdp_pop.pivot_table('gdp_per_capita', 'date', 'country')

# Select dates equal to or greater than 1991-01-01
recent_gdp_pop = gdp_pivot.query('date >= "1991-01-01"')

# Plot recent_gdp_pop
recent_gdp_pop.plot(rot=90)
plt.show()

### Using .melt() to reshape government data
The US Bureau of Labor Statistics (BLS) often provides data series in an easy-to-read format - it has a separate column for each month, and each year is a different row. Unfortunately, this wide format makes it difficult to plot this information over time. In this exercise, you will reshape a table of US unemployment rate data from the BLS into a form you can plot using .melt(). You will need to add a date column to the table and sort by it to plot the data correctly.

<b>Instructions:</b>
- Use .melt() to unpivot all of the columns of ur_wide except year and ensure that the columns with the months and values are named month and unempl_rate, respectively. Save the result as ur_tall.
- Add a column to ur_tall named date which combines the year and month columns as year-month format into a larger string, and converts it to a date data type.
- Sort ur_tall by date and save as ur_sorted.
- Using ur_sorted, plot unempl_rate on the y-axis and date on the x-axis.

In [ ]:
# No datasets

# unpivot everything besides the year column
ur_tall = ur_wide.melt(id_vars=["year"], var_name='month',
value_name='unempl_rate')


# Create a date column using the month and year columns of ur_tall
ur_tall['date'] = pd.to_datetime(ur_tall['month'] + '-' + ur_tall['year'])

# Sort ur_tall by date in ascending order
ur_sorted = ur_tall.sort_values("date", ascending=True)

# Plot the unempl_rate by date
ur_sorted.plot(y="unempl_rate", x="date")
plt.show()

### Using .melt() for stocks vs bond performance
It is widespread knowledge that the price of bonds is inversely related to the price of stocks. In this last exercise, you'll review many of the topics in this chapter to confirm this. You have been given a table of percent change of the US 10-year treasury bond price. It is in a wide format where there is a separate column for each year. You will need to use the .melt() method to reshape this table.

Additionally, you will use the .query() method to filter out unneeded data. You will merge this table with a table of the percent change of the Dow Jones Industrial stock index price. Finally, you will plot data.

<b>Instructions:</b>
- Use .melt() on ten_yr to unpivot everything except the metric column, setting var_name='date' and value_name='close'. Save the result to bond_perc.
- Using the .query() method, select only those rows were metric equals 'close', and save to bond_perc_close.
- Use merge_ordered() to merge dji (left table) and bond_perc_close on date with an inner join, and set suffixes equal to ('_dow', '_bond'). Save the result to dow_bond.
- Using dow_bond, plot only the Dow and bond values.

In [ ]:
# No datasets again

# Use melt on ten_yr, unpivot everything besides the metric column
bond_perc = ten_yr.melt(id_vars=["metric"],var_name='date', value_name='close' )

# Use query on bond_perc to select only the rows where metric=close
bond_perc_close = bond_perc.query('metric == "close"')

# Merge (ordered) dji and bond_perc_close on date with an inner join
dow_bond = pd.merge_ordered(dji,bond_perc_close, on="date", how="inner", suffixes=('_dow', '_bond'))


# Plot only the close_dow and close_bond columns
dow_bond.plot(y=['close_dow', 'close_bond'], x='date', rot=90)
plt.show()